{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Resultado busqueda: </title>
</head>
<body>
    {% if cursos %}

    <p1> Estamos buscando: {{camada}} </p1>
    <ul>
    {% for curso in cursos %}
        <li> {{curso.nombre}} </li>
        <li> {{curso.camada}} </li>
    {% endfor %}
    </ul>
    {%else%}
    <p1> No hay datos con esa descripcion </p1>
    {% endif %}
</body>
</html>
{% endblock %}